@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.4);
}

.app::before {
  content: "";
  background: url("./assets/images/diego-ph-v8QdhKbOoC0-unsplash.jpg") no-repeat
    center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.card-container {
  width: fit-content;
  margin: 0 auto;
  padding: 60px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.description {
  display: grid;
}

.item1 {
  grid-column: 1;
}

.item2 {
  grid-column: 2;
  margin: auto;
}

.date {
  font-size: small;
  margin-top: 0.1rem;
}

.temp {
  margin: 1rem 0;
}

.btn-temp {
  border-radius: 5px;
  padding: 5px;
}
.btn-location {
  border-radius: 5px;
  padding: 5px;
  margin-top: 1rem;
}

.icon img {
  margin: auto;
  display: block;
}

.temp p {
  font-size: 50px;
  font-weight: 600;
}
h3 {
  font-weight: 300;
}

p {
  margin-bottom: 1rem;
}

.card-container h1 {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info {
  justify-content: center;
  align-items: center;
}
